* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


body {
    background-color: #FAF9F6;
    padding: 0 2rem;
}

a {
    font-size: 25px;
    color: #000000;
}

button {
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 20px;
}

.card {
    min-width: 20rem;
    height: auto;
    background-color: #ced9e3;
    border: 1px solid black;
    padding: 1.5rem 3rem;
}

.greenFlag {
    background-color: #DBF5E5;
}

.okFlag {
    background-color: #FFF1E0;
}

.redFlag {
    background-color: #ff8888;
}

.card {
    position: relative;
}

.card button {
    position: absolute;
    right: 20px;
}

.inputSearch {
    text-align: center;
    margin: 2rem 0;
}

.inputSearch input {
    margin: 15px 0;
}